html {
    background-color: rgb(36, 35, 35);
}

h1 {
    text-align: center;
    color:white;
    text-decoration: underline;
}

h2 {
    text-align: center;
    color: white;
    text-decoration: underline;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.iframe {
    border: solid 2px black;
}

a {
    color: lightblue;
}

p {
    color: lightgrey;
    font-size: 18px;
}

.attribute {
    font-size: 20px;
    color: white;
    padding: 0 30px;
}

.header {
    text-align: center;
    padding: 15px;
    background: lightskyblue;
    justify-content: center;
    color: white;
    font-size: 20px;
    display: flex;
}

a:hover {
    color: red;
    text-decoration: none;
}

.main {
    display: flex;
    flex: 3 100%;
    flex-direction: row;
    align-items: center; 
    flex-wrap: wrap;
    justify-content: space-around;
}

.item1 {
    width: 600px;
    height: 600px;
    margin: 5px;
}

.item2 {
    width: 600px;
    height: 600px;
    margin: 5px;
}

.item3 {
    width: 600px;
    height: 600px;
    margin: 5px;
}

.p1 {
    width: 700px;
    text-align: center;
}

.p {
    width: 600px;
    text-align: center;
}

.button1 {
    font-size: 30px;
    border: solid 2px black;
    transition: background-color .5s;
}

.button1:hover {
    background-color: lightskyblue;
}

#patrick {
    width: 550px;
    height: 450px;
}

.box1 {
    border-style: solid;
    border-width: 2px;
    display: block;
    width: 200px;
    height: 150px;
    background-color: lightskyblue;
    transition: width 1s, height 1s, background-color 2s, transform 2s, border-radius 2s;
}

.box1:hover {
    background-color: magenta;
    width: 125px;
    height: 125px;
    transform: rotate(360deg);
    border-radius: 50%;
}

#cf {
    position:relative;
    height: 200px;
    width: 300px;
    margin: 0 auto;
    padding-bottom: 50px;
}

#cf img {
    position: absolute;
    left: 0 ;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
    border: solid 2px black;
}

#cf img.topimg:hover {
    opacity: 0;
}

.transitions {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}